.auth-container {
  width: 100%;
  height: 100vh;
  background: #e6ebf2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  width: 360px;
  background: #f9fafc;
  padding: 32px;
  border-radius: 16px;
  border: 2px solid #dce3ea;
  box-shadow: 0px 6px 18px rgba(0,0,0,0.12);
}

.auth-card h2 {
  text-align: center;
  font-weight: 700;
  color: #16304a;
  margin-bottom: 20px;
}

.auth-card label {
  font-weight: 600;
  margin-top: 10px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #cfd6dd;
  margin-top: 6px;
  background: white;
  color: #000;
  font-size: 15px;
}

.btn-primary {
  margin-top: 22px;
  width: 100%;
  padding: 12px;
  background: #16304a;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.btn-primary:hover {
  background: #1d4160;
}

.switch-text {
  text-align: center;
  margin-top: 14px;
  font-size: 14px;
}

.switch-text a {
  color: #16304a;
  font-weight: 700;
}
