.operations-box {
  background: #f8faff;
  border-radius: 18px;
  border: 2px solid #dce3ea;
  padding: 22px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.operations-title {
  font-size: 18px;
  font-weight: 700;
  color: #16304a;
  margin-bottom: 10px;
}

.op-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 10px;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  color: #16304a;
}

.op-item:hover {
  background: #dfe6ee;
}

.op-item.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.op-icon {
  font-size: 16px;
}
