.tasklist-container {
  background: #f8faff;
  border: 2px solid #dce3ea;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.tasklist-container.dark {
  background: #16304a;
  color: #fff;
}

.tasklist-container.gray {
  background: #dfe6ee;
}

.tasklist-title {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 12px;
  margin-top: 12px;
  border-radius: 12px;
  border: 2px solid #dce3ea;
  cursor: pointer;
  transition: 0.2s;
}

.task-item:hover {
  background: #eef2f7;
}

.task-item.selected {
  border-color: #16304a;
  background: #e6f0ff;
}

.task-title-text {
  flex: 1;
  margin-left: 12px;
  color: #1d1d1d;
  font-weight: 500;
}

.deadline {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: #1d4160;
}

.task-actions {
  display: flex;
  gap: 10px;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  font-size: 15px;
  transition: .2s;
}

.edit-icon:hover {
  color: #1d4160;
}

.delete-icon:hover {
  color: red;
}

/* Checkbox */
.task-item input[type="checkbox"] {
  transform: scale(1.3);
  cursor: pointer;
}
