/* =========================================================
   RESET GLOBAL
   ========================================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

/* Impede rolagem lateral indesejada */
body {
  overflow-x: hidden;
  overflow-y: auto;

  background: var(--bg-body);
  color: var(--text-main);

  transition: background 0.25s ease, color 0.25s ease;
}

/* Remove estilos padrões dos botões */
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Garantia de suavização de fontes */
body, input, button {
  -webkit-font-smoothing: antialiased;
}

/* Div raiz ocupando toda tela */
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
